<div class="container col-md-6">
<form action="/output" method="post">
    <h1 class="table table-primary text-center">Add New Student</h1>
    <table class="table table-danger">
        <tr>
            <th>Name</th>
            <td>
                {{student.name}}
            </td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>
                {{ dateFormat student.dob "DD/MM/YYYY" }}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                {{student.email}}
            </td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>
                {{student.gender}}
            </td>
        </tr>
        <tr>
            <th>Student Year</th>
            <td>
                {{student.year}}
            </td>
        </tr>
        <tr>
            <th>Major</th>
            <td>
                {{student.major}}
            </td>
        </tr>
        <tr>
            <th>Image</th>
            <td>
              <img src="{{student.image}}" width="500" height="400" alt="">  
            </td>
        </tr>
    </table>
</form>
</div>